{# templates/contacts/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Contacts List
{% endblock %}

{% block body %}
	<h1>Contacts List</h1>

	<a href="{{ path('app_contacts_create') }}">
		<button class="create-button">Create New +</button>
	</a>

	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Firstname</th>
				<th>Lastname</th>
				<th>Email</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for contact in contacts %}
				<tr>
					<td>{{ contact.id }}</td>
					<td>{{ contact.firstname }}</td>
					<td>{{ contact.lastname }}</td>
					<td>{{ contact.email }}</td>
					<td>
						<a href="{{ path('app_contact', { 'id': contact.id }) }}">View</a>
						<a href="{{ path('app_contact_edit', { 'id': contact.id }) }}">Edit</a>
						<a href="{{ path('app_contact_delete', { 'id': contact.id }) }}" onclick="return confirm('Are you sure to remove this contact?')">Delete</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
